#content.home{

  width: 100%;

  .centered-content{
    @include content;
  }
}

#welcome{
  @include background-image(linear-gradient(white, #e0dddd));
  height: 300px;
  @include box-shadow(0 -4px 9px -6px $shadow_grey inset);
  position: relative;
  z-index: 4;
  margin-top:20px;

}

#details {
  background-color: $ambassador_green;
  height: 200px;
  @include bottom_shadow;
  position: relative;
  z-index: 3;
}

#about {
  background-color: white;
  height: 300px;
  @include bottom_shadow;
  position: relative;
  z-index: 2;
}

.welcome-image {
  width: 744px;
  height: 289px;
  display: block;
  margin:  auto;
  padding-top: 30px;
}
.details {
  margin: 0 auto;
}

#third-container {
  color:white;
  font-size:14px;
  text-align: center;
  width:280px;
  > h2 {
    text-align: center;
    text-shadow:0.1em 0.1em #333;
    color: white;
    font-size:18px;
  }
  height: 150px;
  padding-left:15px;
  padding-right:10px;
  float: left;
}