// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content.patients {
  textarea {
    width: 500px;
    height: 200px;
  }
  p.data {
    width: 300px;
    display: inline-block;
  }
  .well {
    width: 700px;
  }
  #notes{
    padding-bottom: 20px;
  }
}